<%- include('partials/header.ejs'); -%>

    <% books.forEach((book)=> { %>
        <article>
            <h2>
                <%= book.title %>
            </h2>
            <p>Author: <%= book.name %>
            </p>
            <p>Rating: <%= book.score %>/10</p>
            <p>Review: <%= book.resume %>
            </p>
            <p>Year: <%= book.publication_year %>
            </p>
            <p>Pages: <%= book.pages %>
            </p>
            <p>ISBN: <%= book.isbn %>
            </p>
            <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" />
        </article>
        <% }) %>

            <%- include('partials/footer.ejs'); -%>